body, h1, p{
    margin : initial;
    padding : initial;
}
body{
    background-color: rgba(217,217,217,1 );
}
h1{
    font : inherit;
}

.container{
    width : 448px;
    height : 494px;
    background-color: rgba(238, 238, 283,1);
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);

    position : absolute;
    top : calc(50% - 247px);
    left : calc(50% - 224px);
}

.header{
    width : 100%;
    height : 120px;
    background-color: white;
    border-bottom : 4px solid rgba(217, 217, 217,1);
    border-radius: 20px 20px 0 0;
    display : flex;
    align-items: center;
}

h1{
    font-family: 'arial';
    font-weight: 700;
    font-size: 24px;
    line-height: 27.6px;
    margin-left : 32px;
    color : rgba(255,0,122,1);
}

.MBL{
    width : 8px;
    height : 32px;
    background-color: rgba(255,0,122,1);
    border-radius: 0 10px 10px 0;
}
/* main */
.main{
    display : flex;
    flex-direction: column;
    align-items: center;
}

.main .box{
    display : flex;
    justify-content: space-between;

    width : 372px;
    height : 48px;
    
    background-color: white;
    border : 4px solid rgba(217, 217, 217,1);
    box-sizing: border-box;
    border-radius: 10px;
}

.main .box:nth-child(1){
    margin-top : 40px;
}
.main>:not(.box:nth-child(1)){
    margin-top : 14px;
}

.main .box{
    padding-left : 11px;
    align-items: center;
    font-family: 'arial';
    font-size: 16px;
    color : rgba(136,136,136,1);
}
.main .box:nth-child(2){
    border : 4px solid rgba(117,156,255,1);
    color : rgba(117,156,255,1);
    font-weight : 700;
    background-image: url(./images/Vector.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 335px 50%;
}

.main .box:hover{
    border : 4px solid rgba(117,156,255,1);
    color : rgba(117,156,255,1);
    font-weight : 700;
}