@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body, h1, h2, p, input{
    margin : initial;
    padding : initial;
}

input,button{
    font : inherit;
    border : none;
    
}

body{
    background-color: rgba(234, 232, 254, 1);
    font-family : 'Noto Sans KR';
}

.flag{
    width : 386px;
    height : 164.12px;
    margin : 0 auto;
}

.main-box{
    width : 748px;
    height : 545px;
    margin : 43px auto auto;
    display : flex;
}

.box1{
    width : 360px;
    height : 545px;
    background-color: white;
}

.box1 .menu{
    width : 306px;
    height : 270px;
    display : grid;
    margin : 31px auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap : 12px;
}

.box1 .menu>div{
    text-align: center;
    font-family: 'Noto Sans KR';
    font-weight: 500;

    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}
.main-box .box1 .menu .cola>img{
    width : 36px;
    height : 65px;
    margin-top : 11px;
}
.cola-text{ 
    font-size: 9px;
}
.cola-charge{
    width : 70px;
    height : 22px;
    margin : 7px auto auto;

    background-color: rgba(99,39,254,1);
    border-radius: 50px;
    font-size: 12px;
    line-height: 21px;
    color : white;
}


.box1 .menu>div:nth-child(2)>img{
    position : relative;
}

.box1 .menu>div:nth-child(1){
    outline : 3px solid rgba(99,39,254,1);
}

.box1 .menu>div:nth-child(2){
    position : relative;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
}

.box1 .menu>div:nth-child(5){
    outline : 3px solid rgba(99,39,254,1);
}
.wrap1{
    width : 100%;
    margin-top : 20px;
    display : flex;
}
.wrap1:nth-child(3){
    margin-top : 12px;
}
.wrap1:nth-child(4){
    margin-top : 12px;
}

.charge{
    width : 200px;
    height : 33px;
    background-color: rgba(234,232,254,1);
    margin-left : 27px;
    padding : 0 10px;
    line-height : 30px;
    font-weight: 500;
    box-sizing: border-box;

    display : flex;
    justify-content: space-between;
    border-radius: 5px;
}

.btn{
    margin-left : 12px;
    width : 94px;
    height : 32px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);

    font-size: 13px;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
}
.box1 input{
    margin-left : 27px;
    padding-left : 6px;
    width : 200px;
    height : 33px;
    border : 1px solid rgba(189, 189, 189, 1);
    border-radius: 5px;
    box-sizing: border-box;
}

.select-box{
    margin-left : 27px;
    width : 200px;
    height : 106px;
    background-color: rgba(234,232,254,1);
    border-radius: 5px;
    border : 1px solid rgba(189, 189, 189, 1);
}
.get{
    margin-left : 12px;
    width : 94px;
    height : 106px;
    background-color: rgba(99,39,254,1);
    border-radius: 5px;
    
    font-weight: 700;
    color : white;
}

.box23{
    margin-left : 28px;
    width : 360px;
} 

.box2{
    height : 50px;
    background-color: white;
}

.box23 .box2 .charge2{
    /* margin : 9px auto auto; */
    width : 306px;
    height : 32px;
}
.box3{
    margin-top : 20px;
    height :474px;
    background-color: white;
}

.get-text{
    width : 68px;
    height : 20px;
    background-color: yellow;
    font-size: 14px;
    font-weight: 700;
}

.get-cola{
    margin : 13px auto 0;
    width : 306px;
    height : 364px;
    background-color: rgba(234,232,254,1);
    border-radius: 5px;
    border : 1px solid rgba(189, 189, 189, 1);
}

.total{
    text-align: right;
    background-color: aqua;
}